.container {
  max-width: 1200px;
  margin: auto;
  padding: 16px;
}

h2 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.add-button {
  margin-bottom: 20px;
  background-color: rgb(85, 85, 247);
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: rgb(0, 0, 255);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #e2e8f0;
}

.card-delete {
  font-weight: 700;
  display: inline;
  background-color: rgb(248, 99, 99);
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-delete:hover {
  background-color: rgb(255, 0, 0);
}

.card h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.card p {
  margin: 4px 0;
}

/* Modal Styling */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: rgb(53, 51, 51);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
}

.modal-title {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form input {
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  font-size: 14px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.submit-button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  margin-right: 5px;
}

.submit-button:hover {
  background-color: #218838;
}

.close-button {
  background-color: #dc3545;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  margin-left: 5px;
}

.close-button:hover {
  background-color: #c82333;
}

/* Responsive Design */
@media (max-width: 500px) {
  .modal {
    width: 90%;
    padding: 15px;
  }

  .modal-form input {
    font-size: 13px;
    padding: 8px;
  }

  .modal-buttons {
    flex-direction: column;
  }

  .submit-button,
  .close-button {
    width: 100%;
    margin: 5px 0;
  }
}
